<section id="features-part" class="featuera pt-45 pb-60">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6">
                <div class="singel-features d-flex align-items-start mt-30 justify-content-center">
                    <div class="icon">
                        <img src="https://thedigitalcoders.com/assets/frontend/images/badge.png">
                    </div>
                    <div class="content pl-20">
                        <h5>ISO 9001 Certified</h5>
                        <p>Google Certified</p>
                    </div>
                </div>
                <!-- singel features -->
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="singel-features d-flex align-items-start mt-30 justify-content-center">
                    <div class="icon">
                        <img src="https://thedigitalcoders.com/assets/frontend/images/badge.png">
                    </div>
                    <div class="content pl-20">
                        <h5>Internship Available</h5>
                        <p>Live Project Training</p>
                    </div>
                </div>
                <!-- singel features -->
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="singel-features d-flex align-items-start mt-30 justify-content-center">
                    <div class="icon">
                        <img src="https://thedigitalcoders.com/assets/frontend/images/badge.png">
                    </div>
                    <div class="content pl-20">
                        <h5>Training Certificate</h5>
                        <p>Experience Certificate</p>
                    </div>
                </div>
                <!-- singel features -->
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="singel-features d-flex align-items-start mt-30 justify-content-center">
                    <div class="icon">
                        <img src="https://thedigitalcoders.com/assets/frontend/images/badge.png">
                    </div>
                    <div class="content pl-20">
                        <h5>10+ Years Experince</h5>
                        <p>International Seminar's</p>
                    </div>
                </div>
                <!-- singel features -->
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>