@extends('forntend-pro.admin') @section('content')
<section id="slider-part" class="slider-active">
    <div class="single-slider bg_cover d-flex align-items-center" style="background-image: url(https://thedigitalcoders.com/uploads/system/751381d859bcf61eb3c37e9cd8ea09a8.jpg)">
        <div class="container">
            <div class="row align-items-center" style='justify-content:space-between;'>
                <div class="col-lg-6 col-md-10">
                    <div class="slider-content" style="text-align:left;">
                        <h2 class="mb-25" data-animation="bounceInLeft" data-delay="1s" style="animation-delay: 1s">
                            <span>Learn</span><br> Website Designing & Digital Marketing
                        </h2>
                        <p class="mb-30" data-animation="fadeInLeft" data-delay="1.5s" style="animation-delay: 1.5s">
                            The Digital Coders is an Informational Technology Education &amp; Development programme registered by the ministry of MSME, Govt. of India. It is a venture of Brute Ventures Pvt Ltd.
                        </p>

                        <a href="https://thedigitalcoders.com/home/contact_us" class="main-btn" data-animation="fadeInUp" data-delay="2s" tabindex="-1" style="animation-delay: 2s">CONTACT
                            US</a>
                        <a href="tel:+91-9888809222" class="call-btn"><i class="fa fa-phone fa-rotate-90"
                                aria-hidden="true" id="quote-btn"></i> +91-9888809222</a>
                    </div>
                    <!-- slider content -->
                </div>
                <div class="col-lg-4 col-md-10">
                    <div class="book-top">
                        <h3>Request A Call Back</h3>
                        <p>ENQUIRE ABOUT A COURSE</p>
                        <form action="https://thedigitalcoders.com/" id="agnet-contact-form" class="shedule-visit" method="post" accept-charset="utf-8">

                            <input type="text" name="name" placeholder="Full Name" required="">
                            <input type="text" name="phone" placeholder="Phone Number" required="">
                            <input type="text" name="email" placeholder="Email" required="">

                            <textarea name="message" placeholder="Your Message"></textarea>

                            <div class="g-recaptcha" data-sitekey="6Lfi6N4nAAAAADV3RNhFKZi-kMCNCVgWBJlJNY65">
                            </div>


                            <input type="hidden" name="shedule_visit" value="shedule_visit">
                            <input type="submit" name="sendmessage" class="send-message" value="SUBMIT NOW">
                        </form>
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- single slider -->


    <!-- single slider -->
</section>
<section id="features-part" class="featuera pt-45 pb-60">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6">
                <div class="singel-features d-flex align-items-start mt-30 justify-content-center">
                    <div class="icon">
                        <img src="https://thedigitalcoders.com/assets/frontend/images/badge.png" />
                    </div>
                    <div class="content pl-20">
                        <h5>ISO 9001 Certified</h5>
                        <p>Google Certified</p>
                    </div>
                </div>
                <!-- singel features -->
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="singel-features d-flex align-items-start mt-30 justify-content-center">
                    <div class="icon">
                        <img src="https://thedigitalcoders.com/assets/frontend/images/badge.png" />
                    </div>
                    <div class="content pl-20">
                        <h5>Internship Available</h5>
                        <p>Live Project Training</p>
                    </div>
                </div>
                <!-- singel features -->
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="singel-features d-flex align-items-start mt-30 justify-content-center">
                    <div class="icon">
                        <img src="https://thedigitalcoders.com/assets/frontend/images/badge.png" />
                    </div>
                    <div class="content pl-20">
                        <h5>Training Certificate</h5>
                        <p>Experience Certificate</p>
                    </div>
                </div>
                <!-- singel features -->
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="singel-features d-flex align-items-start mt-30 justify-content-center">
                    <div class="icon">
                        <img src="https://thedigitalcoders.com/assets/frontend/images/badge.png" />
                    </div>
                    <div class="content pl-20">
                        <h5>10+ Years Experince</h5>
                        <p>International Seminar's</p>
                    </div>
                </div>
                <!-- singel features -->
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>
<section id="about-part-2" class="about-part-2 pt-120 pb-120">
    <div class="pattern-layer" style="background-image: url(https://thedigitalcoders.com/assets/frontend/images/pattern2.png)"></div>
    <div class="pattern-layer-two" style="background-image: url(https://thedigitalcoders.com/assets/frontend/images/pattern.png)"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <div class="about-2-bg bg_cover d-none d-lg-block">
                    <img src="https://thedigitalcoders.com/assets/frontend/images/bg-3.png" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-2-content">
                    <h3 class="mb-20">About The Digital Coders</h3>
                    <p>
                        The Digital Coders is the professional IT Institute of India, where students can learn job-oriented Professional IT courses. We are providing world-class education with the latest technology in the sector of Information Technology. The Digital Coders
                        is a group of experienced IT professionals.
                    </p>
                    <br />
                    <p style="padding-bottom: 12px">
                        Our students will work on live projects under the senior programmer's guidance. As result, our students will make mistakes on real projects and learn how to fix them. This will make them confident to do any sort of project.
                    </p>

                    <ul>
                        <li>
                            <i class="las la-check-circle"></i> Job Oriented Courses
                        </li>
                        <li><i class="las la-check-circle"></i> ISO Certified</li>
                        <li>
                            <i class="las la-check-circle"></i> Step-By-Step Learning
                        </li>
                        <li>
                            <i class="las la-check-circle"></i> Training On Live Projects
                        </li>
                    </ul>
                    <a href="https://thedigitalcoders.com/home/about_us" class="mt-20 main-btn">Read More</a>
                </div>
                <!-- about 2 content -->
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>

<section id="latest-news" class="pt-100 pb-100" style="background-image: url(https://thedigitalcoders.com/assets/frontend/images/serv.png)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center pb-20">
                    <h3 style="color: #fff">Our Courses</h3>
                    <div class="underline">
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <!-- section title -->
            </div>
        </div>
        <div class="row grid">
            @foreach($courses as $cours)

            <div class="col-lg-4 col-md-6 col-sm-10 designing">
                <div class="singel-news mt-30">
                    <div class="news-thumb">
                        <img src="{{asset('img/'.$cours->photo)}}" alt="" class="img-fluid">
                    </div>
                    <div class="news-content">
                        <a href="https://thedigitalcoders.com/home/course/full-stack-development-course/30" class="mb-15">
                            <h4>{{$cours->title}}</h4>
                        </a>
                        <div class="course-subtitle mb-20">{!!$cours->discription!!}</div>
                    </div>
                    <div class="date-details">
                        <span class="date" style="padding-top: 5px">
                            <p class="price text-right d-inline-block float-end"><del>₹ {{$cours->price}}</del>
                                <strong>₹ {{$cours->discount_price}}</strong></p>
                        </span>
                        <span class="details"><a href="{{route('cours',['slug'=>$cours->slug])}}">View Detail <i
                                    class="flaticon-right-arrow"></i></a></span>
                    </div>
                </div>
                <!-- singel news -->
            </div>
            @endforeach
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12">
                    <div class="view-btn"><a href="#">View More </a></div>
                </div>
            </div>
        </div>
        <!-- container -->
</section>
<section id="testimonial-part" class="pt-120 pb-130 gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center pb-20">
                    <h3>What Says Our Students</h3>
                    <div class="underline">
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <!-- section title -->
            </div>
        </div>
        <div class="row testimonial-slide">
            <div class="col-lg-6">
                <div class="singel-testimonial text-center mt-30">
                    <div class="testimonial-conent">
                        <p style="text-align: justify; "><span style="font-family: Nunito; color: rgb(0, 0, 0);">I came
                                to know about Web Development via Google and decided to join the The Digital Coders.I
                                found the faculties very co-operative, making the subject a lot easier to understand and
                                very effective way of responding to doubts.In future i will proudly suggest my friends,
                                who are seeking to learn web designing, development courses etc.I thank the Academy for
                                providing me the best training in web development.</span><br></p>
                    </div>
                    <div class="author-name mt-20">
                        <h6>Nitin Jamwal</h6>
                        <p>PHP Developer</p>
                        <i class="flaticon-quote"></i>
                    </div>
                    <div class="testimonial-author mt-25">
                        <img src="uploads/testimonial/thumbnail/WhatsApp_Image_2023-05-18_at_10_52_49_PM.jpeg" alt="author" />
                    </div>
                </div>
                <!-- singel testimonial -->
            </div>
            <div class="col-lg-6">
                <div class="singel-testimonial text-center mt-30">
                    <div class="testimonial-conent">
                        Digital Coders, The Bright Future is Here Where Are You. I used to watch the advertisement of this Academy. When I chose Digital Coders for my career i was excited to be in the environment. I came here in 2022 and now I am fully confident to crack any
                        bugs. The journey was awesome, The faculty members of design department of Digital Coders are helpful and cooperative. They always help me in my problems. </div>
                    <div class="author-name mt-20">
                        <h6>Naveen</h6>
                        <p>PHP Developer</p>
                        <i class="flaticon-quote"></i>
                    </div>
                    <div class="testimonial-author mt-25">
                        <img src="uploads/testimonial/thumbnail/WhatsApp_Image_2023-05-18_at_10_58_23_PM1.jpeg" alt="author" />
                    </div>
                </div>
                <!-- singel testimonial -->
            </div>
            <div class="col-lg-6">
                <div class="singel-testimonial text-center mt-30">
                    <div class="testimonial-conent">
                        <p>“Think Different, that is one thing that Digital Coders urges in and to far extent succeed in teaching to its students which invariably helps to achieve what you need. It nourished me and thus gave me an opportunity to define me.
                            <br>
                        </p>
                    </div>
                    <div class="author-name mt-20">
                        <h6>Rohit</h6>
                        <p>PHP Developer</p>
                        <i class="flaticon-quote"></i>
                    </div>
                    <div class="testimonial-author mt-25">
                        <img src="uploads/testimonial/thumbnail/WhatsApp_Image_2023-05-21_at_9_41_38_PM.jpeg" alt="author" />
                    </div>
                </div>
                <!-- singel testimonial -->
            </div>
            <div class="col-lg-6">
                <div class="singel-testimonial text-center mt-30">
                    <div class="testimonial-conent">
                        <p>The experience at Digital Coders was enriching in terms of technical skills. Since, I have learned a lot of basics of development with the help of distinguish faculties.
                    </div>
                    <div>The teaching style was very much impressive in the latest technology field for sure. The teachers have taken us through live projects to give an insight of the latest technology.</p>
                    </div>
                    <div class="author-name mt-20">
                        <h6>Abhishek</h6>
                        <p>PHP Developer</p>
                        <i class="flaticon-quote"></i>
                    </div>
                    <div class="testimonial-author mt-25">
                        <img src="uploads/testimonial/thumbnail/WhatsApp_Image_2023-05-18_at_11_04_09_PM1.jpeg" alt="author" />
                    </div>
                </div>
                <!-- singel testimonial -->
            </div>
        </div>
    </div>
</section>

@endsection
<section id="footer-part" class="footer-part pt-70 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="footer-description pt-50">
                    <div class="logo mb-20">
                        <a href="https://thedigitalcoders.com/" class="img-cover"><img src="https://thedigitalcoders.com/uploads/system/09b24f6bc75811639ed94b8c719d7c7b.png" alt=""></a>
                    </div>
                    <p>
                        <font color="#ffffff">Come to learn Web Designing, Web Development &amp; Digital Marketing in lap of mountains Dharamshala, Himachal. </font>
                    </p>
                    <ul>
                        <li class="mb-1 mt-2">
                            <a href="https://www.facebook.com/thedigitalcoders/"><i class="flaticon-facebook"></i></a>
                        </li>
                        <li class="mb-1 mt-2">
                            <a href="https://www.instagram.com/thedigitalcoders/"><i class="fab fa-instagram"></i></a>
                        </li>
                        <!-- <li>
                <a href="https://www.facebook.com/thedigitalcoders"><i class="flaticon-facebook"></i></a>
              </li>
              <li>
                <a href=""><i class="flaticon-twitter-logo-silhouette"></i></a>
              </li>
              <li>
                <a href="https://instagram.com/thedigitalcoders?igshid=N2ZiY2E3YmU="><i class="flaticon-google-plus"></i></a>
              </li>
              <li>
                <a href="#"><i class="flaticon-linkedin-logo"></i></a>
              </li>
              <li>
                <a href="#"><i class="flaticon-instagram-social-network-logo-of-photo-camera"></i></a>
              </li> -->
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-link pt-45 pl-50">
                    <div class="title mb-30">
                        <h4>Usefull links</h4>
                    </div>
                    <ul>
                        <li>
                            <a href="/"><i class="fa fa-angle-right"></i> Home</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i> About us</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i> Our courses</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i> Contact Us</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i> Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i> Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-contact pt-45">
                    <div class="title mb-35">
                        <h4>Contact us</h4>
                    </div>
                    <ul>
                        <li>
                            <p><a href="tel:919888809222"><i class="fas fa-phone-volume"></i> +91 98888-09222</a></p>
                            <p><a href="tel:919115915995"><i class="fas fa-phone-volume"></i> +91 91159-15995</a></p>
                            <a href="tel:919115915995">
                            </a>
                            <p>
                                <a href="tel:919115915995"></a><a href="tel:919115789115"><i class="fas fa-phone-volume"></i> +91 91157-89115</a></p>
                            <a href="tel:919115789115">
                            </a>
                            <p>
                                <a href="tel:919115789115"></a><a href="tel:918556099533"><i class="fas fa-phone-volume"></i> +91 85560-99533</a></p>
                            <a href="tel:918556099533">
                            </a>
                        </li>
                        <a href="tel:918556099533">
                        </a>
                        <li>
                            <a href="tel:918556099533">
                            </a>
                            <p>
                                <a href="tel:918556099533">
                                </a><a href="mailto:info@thedigitalcoders.com"><i class="fas fa-envelope"></i> info@thedigitalcoders.com</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="las la-map-marker-alt"></i> 3rd Floor, Fatehpur Bridge, Near Fatehpur Bus Stand, Yol Road, Dharamshala
                            </p>
                        </li>
                    </ul>
                </div>
                <!-- footer contact -->
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="footer-subscribe pt-45">
                    <div class="title mb-35">
                        <h4>Reach Us</h4>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13506.058912319075!2d76.3564391!3d32.1903582!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391b51802a0316e1%3A0x5ebb1e095e746d9d!2sThe%20Digital%20Coders%20-%20Computer%20Institute%20in%20Dharamshala!5e0!3m2!1sen!2sin!4v1679661366777!5m2!1sen!2sin"
                        width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="copyright-part" class="copyright-part pt-15 pb-25">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="copyright-content text-center pt-10">
                    <p>
                        © 2023 All rights reserved The Digital Coders &amp; Designed by <a href="https://brutecorp.com" target="-blank"> Brutecorp.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="copyright" content="">

    <title>Contact Us</title>


    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">



    <link rel="stylesheet" href="assets/css/bootstrap.css">

    <link rel="stylesheet" href="assets/vendor/animate/animate.css">

    <link rel="stylesheet" href="style.css">


</head>

<body>

    <!-- Back to top button -->
    <div class="back-to-top"></div>

    <header>

        <div class="top-bar">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-sm-6">
                        <ul class="top-info">
                            <li><a href="#"><i class="las la-map-marker"></i> Brooklyn Street, Melbourne</a></li>
                            <li><a href="mailto:"><i class="las la-envelope"></i> info@yourwebsite.com</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-6">
                        <ul class="top-act">
                            <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
                            <li><a href="#"><i class="lab la-instagram"></i></a></li>
                            <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="lab la-youtube"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <nav class="navbar navbar-expand-lg navbar-light bg-white sticky" data-offset="500">
            <div class="container">
                <a href="#" class="navbar-brand">
          Education
        </a>

                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

                <div class="navbar-collapse collapse" id="navbarContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>

                        <!-- <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li> -->



                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" href="service.html">Categories</a>

                            <ul class="dropdown-menu menu-hover drop-links">
                                <li><a class="dropdown-item" href="#"> All</a></li>
                                <li><a class="dropdown-item" href="#"> London</a></li>
                                <li><a class="dropdown-item" href="#"> Paris </a></li>
                                <li><a class="dropdown-item" href="#"> Istanbul </a></li>
                                <li><a class="dropdown-item" href="#"> United States</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" href="service.html">Courses</a>

                            <ul class="dropdown-menu menu-hover">
                                <li><a class="dropdown-item" href="#"> All</a></li>
                                <li><a class="dropdown-item" href="#"> London</a></li>
                                <li><a class="dropdown-item" href="#"> Paris </a></li>
                                <li><a class="dropdown-item" href="#"> Istanbul </a></li>
                                <li><a class="dropdown-item" href="#"> United States</a></li>
                            </ul>
                        </li>



                        <li class="nav-item active">
                            <a class="nav-link" href="contact.html">Contact Us</a>
                        </li>


                    </ul>

                    <ul class="header-right">
                        <li><a href="#" class="header-blue-btn"><i class="las la-user"></i> Log In</a></li>

                        <li><a href="#" class="register-btn">Register Now</a></li>
                    </ul>

                </div>

            </div>
        </nav>


    </header>




    <div class="breadcumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcum-text">
                        <h3>Contact Us</h3>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Contact Us</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="Contact-box-form">
                        <div class="sec-title text-left" style="margin-bottom:20px;">
                            <h2>Contact Us</h2>
                            <p>Get in touch with one of our expert team member by completing the form below:</p>
                        </div>
                        <div class="form-inner">
                            <form class="form-inline default-form" method="POST" id="contact-form" action="#" novalidate="novalidate">
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <input type="text" class="form-control " name="username" placeholder="Name" required="" aria-required="true" value="">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <input type="text" class="form-control " name="email" placeholder="Email" value="">
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <input type="text" class="form-control " name="phone" placeholder="Phone" required="" aria-required="true" value="">
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <input type="text" class="form-control" name="subject" placeholder="Subject" required="" aria-required="true" value="">
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <textarea name="message" class="form-control" placeholder="Message"></textarea>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn centred mb-0">
                                    <button type="submit" class="theme-btn-two" name="submit-form">Submit</button>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="col-md-5">
                <div class="single-adderss-block">
                    <!-- <h3>Head Office</h3>-->
                    <ul class="info-list clearfix">

                        <li>
                            <i class="las la-map-marker-alt"></i>
                            <div class="add-info">
                                <b>Address:</b>
                                <p class="grey-txt">Eduaction</p>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                            </div>
                        </li>



                        <li>
                            <i class="las la-phone"></i>
                            <div class="add-info">
                                <b>Call Us</b>
                                <p class="grey-txt">Suport team</p>
                                <p><a href="tel:+91-1234567890">+91-1234567890</a>
                                </p>


                            </div>

                        </li>
                        <li>
                            <i class="las la-envelope"></i>
                            <div class="add-info">
                                <b>Email Us</b>
                                <p class="grey-txt"> Our friendly team is here to help</p>
                                <p><a href="#">info@yourwebsite.com</a>
                                </p>

                            </div>

                        </li>
                    </ul>
                    <br>


                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30695801.279036123!2d64.45334489988296!3d20.090361581889265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1689892583199!5m2!1sen!2sin"
                        width="100%" height="370" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>





                </div>
            </div>

        </div>
    </div>
    </div>




    <div class="cta-action">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    <h3>
                        Become An Instructor! Hurry
                    </h3>
                </div>
                <div class="col-md-4 text-right">
                    <a href="#" class="join-btn">Register Now</a>
                </div>
            </div>
        </div>
    </div>














    <footer>
        <div class="container">


            <div class="row">
                <div class="col-md-4">
                    <div class="footer-widget">
                        <h3 class="mb-2">About Us</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit natus consequatur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit natus consequatur.</p>


                    </div>


                    <div class="footer-widget mt-2">
                        <!-- <h3 class="mb-2">Follow Us</h3> -->
                        <ul class="social-media">
                            <li><a href="#"><i class="lab la-facebook-f"></i></a></li>

                            <li><a href="#"><i class="lab la-instagram"></i></a></li>
                            <li><a href="#"><i class="lab la-twitter"></i></a></li>
                            <li><a href="#"><i class="lab la-linkedin"></i></a></li>


                        </ul>
                    </div>


                </div>


                <div class="col-md-2">
                    <div class="footer-widget">
                        <h3>Quick Links</h3>
                        <ul class="f-menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Destinations</a></li>
                            <li><a href="#">Car Rental</a></li>
                            <li><a href="#">Hotels</a></li>
                            <li><a href="#">Contact Us</a></li>

                        </ul>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="footer-widget">
                        <h3>Services</h3>
                        <ul class="f-menu">
                            <li><a href="#">Tourist Visa</a></li>
                            <li><a href="#">Work Visa</a></li>
                            <li><a href="#">Tourist Visa</a></li>
                            <li><a href="#">Work Visa</a></li>
                            <li><a href="#">Tourist Visa</a></li>
                            <li><a href="#">Work Visa</a></li>

                        </ul>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="footer-widget">
                        <h3>Contact Information</h3>
                        <ul class="contact-info">
                            <li><b><i class="las la-map-marker"></i> Address : </b>Melbourne, Australia</li>
                            <li><b><i class="las la-envelope"></i> Email : </b><a href="#">info@yourwebsite.com</a></li>
                            <li><b><i class="las la-phone"></i> Phone : </b>61.100.100.1000</li>

                        </ul>
                    </div>





                </div>

            </div>


        </div>



        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>&copy; Copyright All Rights Reserved 2023 Designed by Brutecorp.com</p>
                    </div>
                </div>
            </div>
        </div>




    </footer>




    <script src="assets/js/jquery-3.5.1.min.js"></script>

    <script src="assets/js/bootstrap.bundle.min.js"></script>



    <script src="assets/vendor/wow/wow.min.js"></script>

    <script src="assets/js/theme.js"></script>
    <script src="assets/js/script.js"></script>

</body>

</html>